html{
    font-family: "Open Sans",sans-serif;
}
body{
    background-color:#A3BCB6;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
div{
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
    font-size: 60px;
    color: rgb(0, 0, 0);
}
h2{
    font-size: 22px;
    line-height:1.75;
    letter-spacing: 1px;
}
h3{
    text-align: right;
}
